<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Origin Live Stream</string>
		<key>playlist_url</key>
		<string>https://prod-jupiter.serversideai.com/ad-aggregation-service/m3u8/d/deeb44bd-fa61-4692-afd9-f9b75623ce4d.m3u8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Proxy Live Stream</string>
		<key>playlist_url</key>
		<string>http://127.0.0.1:3333/ad-aggregation-service/m3u8/d/deeb44bd-fa61-4692-afd9-f9b75623ce4d.m3u8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Public Proxied Stream</string>
		<key>playlist_url</key>
		<string>https://tv4-demo.eyevinn-sgai-ad-proxy.auto.prod.osaas.io/loop/master.m3u8</string>
	</dict>
</array>
</plist>
